html, body, #root, #app {
  height: 100%;
  overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
  color: $textTitle !important;
  font-weight: bold;
  font-size: 30px;
  margin: 10px 0;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 22.5px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 15px;
}
ol, ul {
  margin: revert;
  padding: revert;
}
ul {
  list-style: circle;
}
ol {
  list-style: decimal;
}
.pointer {
  cursor: pointer;
}
